$randomNumber1: 2;
$randomNumber2: 3;
$randomNumber3: 5;
$randomNumber4: 4;
$randomNumber5: 6;

.backgroundBody {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: .5;
    position: relative;
  }

.rowContainer {
  line-height: 0;
  font-size: 0;

  overflow: hidden;
  height: 60px;
  width: 100%;
  text-align: center;
}

.rowContainer > .row1 {
  display: inline-block;
  width: 60px;
  height: 60px;
  animation: color_change linear infinite alternate;
  animation-duration: $randomNumber1 + s;
  opacity: .6;
}

.rowContainer > .row2 {
  display: inline-block;
  width: 60px;
  height: 60px;
  animation: color_change linear infinite alternate;
  animation-duration: $randomNumber2 + s;
  opacity: .6;
}

.rowContainer > .row3 {
  display: inline-block;
  width: 60px;
  height: 60px;
  animation: color_change linear infinite alternate;
  animation-duration: $randomNumber3 + s;
  opacity: .6;
}

.rowContainer > .row4 {
  display: inline-block;
  width: 60px;
  height: 60px;
  animation: color_change linear infinite alternate;
  animation-duration: $randomNumber4 + s;
  opacity: .6;
}

.rowContainer > .row5 {
  display: inline-block;
  width: 60px;
  height: 60px;
  animation: color_change linear infinite alternate;
  animation-duration: $randomNumber5 + s;
  opacity: .6;
}

@keyframes color_change {
  0% { opacity: 0; };
  100% { 
      background-color: darkgray;
      opacity: .4;
     };
}