$red: #F44336;
$orange: #FF9800;
$yellow: #FFEB3B;
$green: #8BC34A;
$turquoise: #009688;
$blue: #03A9F4;
$purple: #9C27B0;
$pink: #E91E63;
$black: #0f0f0f;
$white: #ffffff;
$gray: #9E9E9E;
$brown: #795548;
$grayscale: #9E9E9E;
$darkgray: darkgray;
$darkergray: #353F3E;
$navMenuGray: #666666;
$lightGray: #e5ebee;
$cardGray: #424242;