
.color {
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 190px;
  border: solid 0px lightgray;
  transition: border-width 0.3s linear, 1s;
  color: white;
  flex-direction: row;
}

.indiv-image {
  max-width: 50%;
}

.photo-container {
  padding: 5%;
}

.color-palette {
  width: 50%;
}

.backColorContainer {
  flex-direction: row;
  transform: translateX(-90px) translateY(-270px);

  .grayText {
    font-size: 60px;
  }
  .backColor {
    font-size: 110px;
  }
  padding-left: 50px;
}

.favoriteBanner {
  transform: translateX(-25px) translateY(-220px);
  color: $darkgray;
}


.comp-colors2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.color2 {
  width: 125px;
  height: 125px;
}

.home__search__bar__input__holder__select {
  padding: 7px;
  border-radius: 0;
  margin-top: 9px;
  font-size: 16px;
}

.welcome {
  width: 30%;
}
