.logo {
  font-family: 'Sansita', sans-serif;
  font-size: 2.6rem;
}

.logo a {
  color: #353F3E;
  text-decoration: none;
}

.logo2 {
  // color: #51CBBD;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 0 5%;
  box-shadow: 0 5px 10px 0 rgba(102, 102, 102, 0.1);
}

.navigation-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-menu li {
  list-style: none;
  padding: 0 5px;
  color: #666666;
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.navigation-menu li:nth-child(2) {
  border-left: 1px solid #eee;
} 

.navigation-menu li a {
  text-decoration: none;
  color: inherit;
}

.navigation-menu li:hover {
  color: red;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

