@import 'colors';

.resultsContainer {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
}

.dark {
  .resultsContainer {
    background-color: #353535;
  }

  .search-results {
    h2 {
      color: $gray;
    }
  }
}

.search-results {
  padding: 5%;
}

.search-results__heading {
  font-size: 2.4rem;
}

.card {
  background-color: $white;
  border: 1px solid #666666;
  border-radius: 0px 0px 5px 5px;
  margin: 20px;
  width: 300px;
  -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.28);
}

.card:hover {
  box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.68);
}

.card__image__container {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid #eee;
  height: 190px;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.card__image__container:hover {
  cursor: pointer;
}

.card__image {
  border-bottom: 2px solid #666666;
  width: 100%;
  height: auto;
}

.card__info__box {
  padding: 5%;
}

.card__info__box__favorites {
  text-align: right;
}

.card__info__box__favorite__button {
  cursor: pointer;
  color: $red;
}


.card__button__holder {
  text-align: right;
}

.button:hover {
  cursor: pointer;
}

.button {
  border-radius: 7px;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 12px;
  border: 1px solid #eee;
}

.button--card {
  color: $darkergray;
}

.button--card:hover {
  border: 1px solid #ccc;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: underline;
  background-color: none;
}