@import 'normalize';


$root-font-size: 14px;
$body-font-size: 1.6rem;

$primary-color: #fff;
$color-1: #fff;
$color-2: #fff;
$color-3: #fff;
$color-4: #fff;

* {
  box-sizing: border-box;
}

html {
  font-size: $root-font-size;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  padding: 5%;
  font-size: 110%;
}

#photos {
}

.main {
  width: 100vw;
}

.resultsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cardContainer {
  width: 300px;
  background-color: rgb(249, 246, 246);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.28);
}

.imageSize {
  width: 100%;
  border-radius: 5px;
}


.imageDetails {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardSpec {
  padding: 10px 0;
  font-weight: 900;
  color: darkgray;
}

a {
  text-decoration: none;
}

li:first-child {
  margin-right: auto;
  font-size: 32px;
}

.navigation-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.home-text {
  text-align: center;
}

.fonts {
  color: lightgrey;
  font-weight: 900;
}

.color-grid {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all .02s ease-in-out;
  height: auto;
  width: 100%;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

input[type=text] {
  width: 100px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
input[type=text]:focus {
  width: 250px;
}

.color {
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 190px;
  transition: .5s;
  color: white;
}

.color:hover {
  border-radius: 50%;
  transition: .5s;
  .colorText {
    opacity: .5;
    transition: 1s;
    text-transform: uppercase;
  }
  border: solid 10px lightgrey;
}

.colorText {
  font-size: 24px;
  font-weight: 900;
  opacity: 0;
  transition: .3s;
}


#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
  color: darkgray;
}

#green {
  background-color: green;
}

#turquoise {
  background-color: turquoise;
}

#blue {
  background-color: blue;
}

#lilac {
  background-color: #c8a2c8;
}

#pink {
  background-color: pink;
}

#white {
  background-color: white;
  color: darkgray;
}

#black {
  background-color: black;
}

#gray {
  background-color: gray;
}

#brown {
  background-color: brown;
}

#grayscale {
  background-color: #000;
  background-image: linear-gradient(315deg, #000 0%, #d3d3d3 74%);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

li {
  list-style: none;
  padding: 20px;
}

.navigation-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.home-text {
  text-align: center;
} 

.favorite {
  transform: translateX(230px) translateY(-150px);
  position: absolute;
    
}

.favoriteIcon {
  position: absolute;
  font-size: 40px;
  cursor: pointer;
}

.contentContainer {
  width: 100%;
}
